@import 'nib'

.spotlight
    display: block;
    position: absolute;
    // The position values are animated and moved
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5) inset, 0px 0px 0px 2000px rgba(0,0,0,0.5)
    pointer-events: none;
    z-index: 1000

.modal.positioned
    position: absolute
